header{
    background-color: rgb(18, 41, 154);
    display: flex; 
    justify-content: space-between; 
    
}

#logo{
    width: 100px;
    padding-top: 5px;
    padding-left: 5px;
}

.bloque{
    padding:20px 20px;
}

.video{
    padding: 10px;
    width: 30%;
    float: left;
}

iframe{
    padding: 20px ;
}

h2{
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noticias{
    width: 50%;
    padding: 10px;
    float: right;
    text-align: center;
}

#img_n{
    width: 60%;
}

p{
    width: 90%;
    text-align: justify; 
    font-size: 1.1em;
}

.lista{
    padding: 10px;
    width: 30%;
    float: left;
}
li{
    font-size: 1.1em;
    margin-top: 10px;
}

.box{
    clear: both;
    width: 100%;
    background: aqua;
    align-items: center;
}
.contenedor{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;


}
.bloq{
    width: 200px;
    height: 200px;
    background: blue;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

